@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500;600&display=swap');
@import '../css/slick.css';

* {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapepr {
    overflow: hidden;
    min-height: 100%;
}

@import 'block/carousel';